
/*
设置背景图片
 */
body {
   background: url("https://w.wallhaven.cc/full/e7/wallhaven-e7eowk.jpg") no-repeat center center fixed;
}





/* 修改导航栏上下间距 em 是一种相对长度单位，表示相对于当前元素的字体大小。具体地说，1em 等于当前元素的字体大小*/

.pd {
    padding: 0.3em !important;
}


.me {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.me1 {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.me2 {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.me3 {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.me4 {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.me5 {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.me6 {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.me7 {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*右边距*/
.mr {
   margin-right: 0.5em !important;
}

.foot {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


/*字体大小*/
.text-size {
    font-size: 12px !important;
    font-weight: 200;
}
/*字间距*/
.text-space {
    letter-spacing: 1px !important;
}
/*行间距*/
.text-line {
    line-height: 1.8 !important;
}

/*透明度*/
.text-opacity {
    opacity: 0.7 !important;
}

.text-opacity2 {
    opacity: 0.5 !important;
}




/*
使block元素变成行内元素
 */
.toLineBlock {
    display: inline-block !important;
}

.imgsize {
    width: 250px !important;
    height: 100px !important;
}
.imgsize2 {
    width: 800px !important;
    height: 500px !important;
}
.imgsize3 {
    width: 50px !important;
    height: 50px !important;
}
.imgsize4 {
    width: 250px !important;
    height: 150px !important;
}

.imgsize5 {
    width: 15px !important;
    height: 15px !important;
}

/*修改盒子最大宽度和居中*/
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

/*修改盒子最大宽度和居中*/
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}


/*
修改盒子上下间距
 */
.mymargin {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.mymargin-top {
    margin-top: 1.5em !important;
}

.marginleft {
    margin-left: 1em !important;
}

/*
绝对定位
 */
.top-right {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

.m-fixed {
    position: fixed !important;
    top: 500px !important;
    right: 0 !important;
    z-index: 1; !important;
}


/*color*/
.cBlack {
    color: #000000 !important;
}
.cWhite {
    color: #ffffff !important;
}
.cGray {
    color: #808080 !important;
}
.cRed {
    color: #ff0000 !important;
}
.cBlue {
    color: #0000ff !important;
}
.cGreen {
    color: #008000 !important;
}
.cYellow {
    color: #ffff00 !important;
}
.cPink {
    color: #ffc0cb !important;
}
.cPurple {
    color: #800080 !important;
}
.cOrange {
    color: #FE9A76 !important;
}
.cBrown {
    color: #a52a2a !important;
}
.cCyan {
    color: #00ffff !important;
}
.cGold {
    color: #ffd700 !important;
}
.cSilver {
    color: #c0c0c0 !important;
}
.cLime {
    color: #00ff00 !important;
}
.cMagenta {
    color: #ff00ff !important;
}

.cDark {
    color: #2f2f2f !important;
}





/*
        改变左右间距
        */
.me-lr-responsive {
    padding-left: 5em !important;
    padding-right: 5em !important;
}

/*
手机端
 */
@media screen and (max-width: 768px) {
    /*
     手机端隐藏
     */
    .mobilehide {
        display: none !important;
    }

    /*
         手机端改变左右间距
         */
    .me-lr-responsive {
        padding-left:  0em !important;
        padding-right: 0em !important;
    }

    /*
        手机端充满宽度
        */
    .m-mobile-full{
        width: 100% !important;
        margin-bottom: 1em !important;
    }
}

/*
PC端
 */
@media screen and (min-width: 768px) {
    /*
       电脑端隐藏
       */
    .mobileshow {
        display: none !important;
    }
}
/*
修改页脚背景颜色
 */
.footcolor {
    background-color: powderblue !important;
}

/*
调整边线阴影
 */
.ui-shadow {
   /*适配不同浏览器*/
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    /*解释：水平偏移量，垂直偏移量，模糊半径，阴影颜色（三色，透明度）*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

/*圆角*/
.ui-corner-all {
    border-radius: 0.5em !important;
}
