<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!-- 设置移动端缩放比例 -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>标签页</title>
    <!-- 引入semantic-ui样式 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <!-- 引入自定义样式 -->
    <link rel="stylesheet" href="../static/css/modify.css">
</head>
<body>

  <!--导航栏-->
    <!-- 解释ui inverted attached segment：ui是semantic-ui的样式，inverted是反色，attached是附着在上面，segment用于分段,me是css类标签 -->
  <nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment me text-opacity ui-shadow ">
      	<!-- 解释ui container：container是容器,用于达到最佳显示效果 -->
    <div class="ui container">
        <!-- 解释ui inverted secondary menu：inverted是反色，secondary次要菜单，menu是菜单,stackable：堆叠的,屏幕小时可堆叠在一块 -->
        <div class="ui inverted secondary stackable menu">
            <!-- 解释ui teal header item：teal是蓝绿色，header是标题，item表示一组条目 -->
            <h2 class="ui teal header item">Blog</h2>
            <!-- 解释<i class="home icon"></i>：i是图标，home是图标名字，icon是图标,mobilehide：手机端隐藏,gg:为JS获取标签实现显示隐藏条目而用 -->
            <a href="#" class="gg item mobilehide "><i class="home icon"></i>首页</a>
            <a href="#" class="gg item mobilehide "><i class="idea icon" ></i>分类</a>
            <!-- 解释active：激活状态--状态栏样式 -->
            <a href="#" class="active gg item mobilehide "><i class="tags icon"></i>标签</a>
            <a href="#" class="gg item mobilehide "><i class="clone icon"></i>归档</a>
            <a href="#" class="gg item mobilehide "><i class="info icon"></i>关于我</a>
           <div class="right item">
              <!-- 解释ui icon inverted transparent input：transparent是透明，input是输入框 -->
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search...">
                     <!-- 解释<i class="search link icon"></i>：i是图标，search是图标名字，link是链接，icon是图标 -->
                    <i class="search link icon"></i>
                </div>
           </div>
        </div>
    </div>
      <!-- menu toggle:这里无显示意义，这是为了JS能够获取到这个标签，从而实现点击按钮显示隐藏左侧菜单 -->
      <a href="#" class="ui menu toggle black icon button top-right mobileshow" >
            <i class="sidebar  icon"></i>
      </a>
  </nav>

  <!--主体内容-->
  <div id="blog-container" class="m-container-small me4 text-opacity">
      <div th:fragment="blogBypages" class="ui container">
          <!--header-->
          <div class="ui top attached segment">
              <!--two column：两列，middle aligned：垂直居中-->
              <div class="ui middle aligned two column grid">
                  <div class="column">
                      <div class="ui teal header">标签</div>
                  </div>
                  <div class="right aligned column">
                      共 <h2 th:text="${#arrays.length(tags)}" class="ui orange header toLineBlock ">14</h2>篇
                  </div>
              </div>
          </div>
          <!--标签-->
          <div class="ui attached segment me4">
              <!--semantic ui 中的组合标签按钮-->
              <div th:each="tag : ${tags}" class="ui labeled button mymargin" >
                  <a href="#" th:text="${tag.name}" th:href="@{/tags(id=${tag.id})}" class="ui basic  button" th:classappend="${tag.id==activeId} ? 'teal'">痛的感悟</a>
                  <div  th:text="${tag.blogNum}" class="ui basic  left pointing label"  th:classappend="${tag.id==activeId} ? 'teal'"  >24</div>
              </div>
          </div>
          <input type="hidden" name="activeId" th:value="${activeId}">
          <!--内容-->
          <div  th:each="blog : ${list}" class="ui top attached orange segment ">
              <!-- padded：内边距显大 ,vertical：垂直的,用横线分割 -->
              <div class="ui padded vertical segment me4">
                  <!-- mobile reversed 反转grid网格中的列顺序 ，使屏幕缩小的时候图片列即第二列在上面-->
                  <div class="ui middle aligned mobile reversed stackable grid">
                      <div class="eleven wide column">
                          <a href="#" target="_blank" th:href="@{/blog(id=${blog.id})}">
                              <h3 th:text="${blog.title}" class="ui header text-space" >你知道什么是二刺螈吗？</h3>
                          </a>
                          <br>
                          <p  th:text="${blog.description}" class="text-space text-line"> 二刺螈（学名：Cynops orientalis）是蝾螈科蝾螈属的两栖动物，是中国特有的两栖动物，也是中国最大的两栖动物。二刺螈是一种典型的水栖两栖动物，生活在水边的草丛中，也有在水中活动的。二刺螈的体型较大...</p>
                          <div class="ui stackable grid">
                              <div class="eleven wide column">
                                  <div class="ui horizontal link list">
                                      <div class="item">
                                          <!-- avatar image：头像 -->
                                          <img th:src="${user.avatar}" src="https://pic1.zhimg.com/v2-a308441a8fa504383a2077c40b8dd0e4_r.jpg" alt="" class="ui avatar image">
                                          <div th:text="${user.nickname}" class="content"><a href="#" class="header">nikoniko</a></div>
                                      </div>
                                      <div class="item">
                                          <i class="calendar icon"></i><span style="padding-left: 5px" th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2023-12-12</span>
                                      </div>
                                      <div class="item">
                                          <i class="eye icon"></i><span style="padding-left: 5px" th:text="${blog.views}">2000</span>
                                      </div>
                                  </div>

                              </div>
                              <div class="right aligned five wide column">
                                  <a th:each="tag :${tags}" th:if="${tag.id} == ${activeId}"  th:text="${tag.name}" href="#" target="_blank" class="ui teal basic label pd text-size">二次元</a>
                              </div>
                          </div>
                      </div>
                      <div class="five wide column">
                          <!-- target="_blank"：在新窗口打开 -->
                          <a href="#" th:href="@{/blog(id=${blog.id})}" target="_blank">
                              <img  th:src="${blog.firstPicture}" src="https://th.bing.com/th/id/OIP.ro3LsoGuUkzyp_AtgKxuXAHaEK?pid=ImgDet&rs=1" alt="" class="ui small rounded image imgsize">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="ui bottom attached segment" th:if="${pagetotal > 1}">
              <div class="ui middle aligned two column grid">
                  <div class="column">
                      <!-- mini：小型按钮,teal basic：蓝绿色基础按钮 -->
                      <a onclick="page(this)" th:attr="current=${current}-1" th:if="${current > 1}" class="ui mini teal basic button">上一页</a>
                  </div>
                  <div class="right aligned column">
                      <a onclick="page(this)" th:attr="current=${current}+1" th:if="${current < pagetotal}"  class="ui mini teal basic button">下一页</a>
                  </div>
              </div>
              <input name="current" type="hidden">
          </div>
      </div>
  </div>

  <!--底部-->
  <!-- 解释ui inverted vertical segment:vertical填充类似于attached，segment是模块 -->
  <footer th:replace="_fragments :: footer" class="ui  vertical inverted segment foot text-opacity">
     <div class="ui  center aligned container ">
          <!-- 解释:grid是网格 把整个横向页面分为16份，便于拆分 divided 显示分割线 -->
         <div class="ui divided inverted stackable grid ">
             <div class=" three wide column">
                    <img src="../static/images/wechat.png" class="ui centered aligned rounded image " alt="" style="width: 120px">
             </div>
             <div class="three wide column">
                 <h4 class="ui inverted header text-opacity">最新博客</h4>
                 <!--完成清单-->
                 <div class="ui inverted link list ">
                        <a href="#" class="item ">Java</a>
                        <a href="#" class="item ">Python</a>
                        <a href="#" class="item ">Linux</a>
                        <a href="#" class="item ">C++</a>
                 </div>
             </div>
             <div class="three wide column ">
                 <h4 class="ui inverted header text-opacity ">联系方式</h4>
                  <h6 class="ui text-opacity text-size " >QQ: 123456789</h6>
                    <h6 class="text-opacity text-size ">微信: 123456789</h6>
             </div>
             <div class="seven wide column">
                 <h4 class="ui inverted header text-opacity ">关于我</h4>

               <p class="text-opacity text-size text-line ">我是一个热爱技术的小白，喜欢研究新技术，喜欢分享，喜欢交流，喜欢结交朋友，喜欢看书，喜欢运动，喜欢旅游，喜欢美食，喜欢生活，喜欢一切美好的事物。</p>
             </div>
         </div>

         <!-- 解释ui inverted section divider：section是模块，divider是分割线 -->
         <div class="ui inverted section divider">
             </br></br></br>
             <p class="text-size text-opacity text-space text-line "> CopyRight © 2023---2013  All Rights Reserved.</p>
         </div>

     </div>

  </footer>


  <!--/*/<th:block  th:replace="_fragments :: script"/*/-->
  <!-- 引入jquery -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <!-- 引入semantic-ui样式 -->
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->


<!-- 获取样式标签,进行操作,实现点击切换--如果含gg的标签中有m-mobile-hide类，就删除，否则添加 -->
 <script>
     <!--手机端下拉菜单 -->
     $('.menu.toggle').click(function(){
            $('.gg').toggleClass('mobilehide');
     });



     //列表局部刷新
     //把值传给后端
     function loadf(){
         $('#blog-container').load(/*[[@{/tagsPage}]]*/"/tagsPage",{
             current:$('[name="current"]').val(),
             activeId:$('[name="activeId"]').val()
         });
     }
     //给前端赋值
     function page(obj){
         $("[name='current']").val($(obj).attr('current'));
         loadf();
     }



 </script>
</body>
</html>